.footer {
    position: relative;
    z-index: -1;
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: #3b3b3b;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer > p {
    color: white;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-menu > li {
    color: white;
    margin:  10px;
    text-decoration: none;
    list-style: none;
}

.footer-menu-div {
    width: 50%;
}

